.Parent {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    z-index: 510;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px   black;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Spinner {
    background: url("https://media.giphy.com/media/3o7WIMGh4CsnLepabS/giphy.gif");
    background-size: cover;
    background-position: center;
    width: 130px;
    height: 130px;
    left: 0;
    right: 0;
    margin: auto;
}

.Darkback {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.5);
}